*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    width: 80%;
    margin: auto;

}

.navbaar{
   position: sticky;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.logo{
   display: flex;
   gap: 10px;
}

.about-section{
    display: flex;
    gap: 10px;
}

.main-content{
    margin-top: 20px;
}